[submodule "repo1"]
	path = Apparel-Feature-Extraction
	url = https://github.com/lalcodes/Apparel-Feature-Extraction.git
[submodule "repo2"]
	path = repo2
	url = https://github.com/lalcodes/Apparel-Descriptioin-Generation.git
