[submodule "repo1"]
	path = Apparel-Feature-Extraction
	url = https://github.com/lalcodes/Apparel-Feature-Extraction.git
[submodule "repo2"]
	path = Apparel-Descriptioin-Generation
	url = https://github.com/lalcodes/Apparel-Descriptioin-Generation.git
[submodule "OCR-using-Azure-services"]
	path = OCR-using-Azure-services
	url = https://github.com/lalcodes/OCR-using-Azure-services.git
[submodule "Apparel-Feature-Extraction-V1"]
	path = Apparel-Feature-Extraction-V1
	url = https://github.com/lalcodes/Apparel-Feature-Extraction-V1.git
